body {
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif;
  }
  
  .task-dashboard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-card {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .chart-container {
    width: 40%;
    margin: auto;
}

  .task-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task-card .card-title {
    font-size: 1.5rem;
    color: #343a40;
    font-weight: bold;
  }
  
  .task-card .card-subtitle {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .task-card .card-text {
    font-size: 1rem;
    color: #495057;
  }
  
  .task-card .btn {
    border-radius: 50px;
    font-weight: bold;
  }
  
  .task-card .btn:hover {
    opacity: 0.8;
  }

  .delete
  {
    
  }
  